/*css 註解*/

// scss 外部檔案
//變數
@import 'base/font';
@import 'base/color';
@import 'base/common';

// css => @import url();


body {
    margin: $margin;
    padding: 0;
    font-size: $fontSize;
    color: $color;
    background-color: $bgc;
    font-family: $fontFamily;
    border: $null;
}

.wrapper {
    @if $w {
        width: 100%;
    }

    @else {
        width: 1200px;
        margin: 0 auto;
    }
}



.b {
    $b : 10px !global; // 轉成全域變數
    margin: $b;
}

div {
    margin: $b;
}

// 改變權重 !default
$a : 20px;
$a : 30px !default; //預設值


.a {
    font-size: $a;
}

//======  轉型字串  ==========
$url : icon1; //url

.icon {
    background-image: url('#{$url}.jpg');
}

// class / 屬性
$class : 'bottom';

.#{$class} {
    margin-#{$class}: 10px;
}

.wrapper {
    width: 100%;
    background-color: rgb(0, 110, 255);
    h1 {
      font-size: 36px;

    }
    nav {
        width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
          width: 150px;
          height: 50px;
          background-color: #666;  
        }

        ul {
            list-style: none;
            display: flex;

            li {
                padding: 10px 20px;
                background-color: rgb(247, 0, 255);

                //偽元素
                a {
                   color : rgb(222, 0, 0);
                    &:first-child {
                    color : rgb(157, 255, 0);
                     &:hover {
                        color : rgb(0, 217, 255);
                     }
                   }
                   &:hover {
                     color:rgb(71, 0, 0)
                   }
                   &::after {
                    content: '';
                   }
                   &::before {
                      content: '';
                   }
                }
                // a:hover {}

            }
        }
    }
}

.index {
  h1 {
    font-size: 40px;
    color: aquamarine;
  }

}
.about {
  h1 {
    font-size: 60px;
    color: #666

  }
}