$color : #333; // 顏色
$bgc : #fff; //背景色
$btn_color : rgb(0, 123, 255); 
$btn_bgc : rgb(202, 228, 255) ;

// 顏色


// "primary":    $primary,
// "secondary":  $secondary,
// "success":    $success,
// "info":       $info,
// "warning":    $warning,
// "danger":     $danger,
// "light":      $light,
// "dark":       $dark


$colors : (
  "primary": #ff7300,
  "secondary" : #0ed7ff,
  "success": #00fc00,
  "info" : #e4e4e4,
  "warning" : #f20
);