.container {
    max-width: 1200px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    .row {
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
    }
}

@include grid(12);
@include m(){
    @include grid(12 , -md);
}

@include t(){
    @include grid(12 , -lg);
}


